<div>
  <!-- todo: current Plan 
  <div class="page-body">
    <div class="container-xl">
      <div class="card">
        <div class="table-responsive">
          <table class="table table-vcenter table-bordered table-nowrap card-table">
            <thead>
              <tr>
                <td class="w-50">
                  <h2>Your Current Plan</h2>
                  <div class="text-secondary text-wrap">
                    Choose an affordable plan that comes with the best features to engage your audience.
                  </div>
                </td>
                <td class="text-center">
                  <div class="text-uppercase text-secondary font-weight-medium">{{currentExamProviderPlan.planName}}</div>
                  <div class="display-6 fw-bold my-3">${{currentExamProviderPlan.planPrice}}</div>
                </td>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let planF of currentExamProviderPlan.planFeatures">
                <td>{{planF.featuresName}}</td>
                <td class="text-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon text-green" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                </td>

              </tr>

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>-->
<!-- todo: update Your Plan
  <div class="container-xl">
    <div  class="row row-cards">
      <div *ngFor="let plan of Plans" class="col-sm-6 col-lg-3">
        <div class="card card-md">
          <div *ngIf="isMostExpensivePlan(plan)" class="ribbon ribbon-top ribbon-bookmark bg-green">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
          </div>
          <div class="card-body text-center">
            <div class="text-uppercase text-secondary font-weight-medium">{{plan.planName}}</div>
            <div class="display-5 fw-bold my-3">{{plan.planPrice}}</div>
            <ul class="list-unstyled lh-lg">
              <li *ngFor="let planFeature of plan.planFeatures">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                {{planFeature.featuresName}}
              </li>

            </ul>
            <div class="text-center mt-4">
              <a class="btn w-100">Choose plan</a>
            </div>
          </div>
        </div>
      </div>
  </div>



</div>

 -->











