<!-- <div class="col-12 col-md-9 d-flex flex-column">
  <div class="card-body">
    <h2 class="mb-4">Update Email</h2>
    <p>Please enter your new email address and your current password to update your email.</p>

    <div class="row g-3">
      <app-input placeholder="New E-mail" [formGroup]="updateEmailForm" controlName="email" label="Email"
        [type]="'email'" [errorMessages]="{
      required: AppMessages.REQUIRED_FIELD,
      email: AppMessages.INVALID_EMAIL
    }">
      </app-input>
      <app-input placeholder="Last password" [formGroup]="updateEmailForm" controlName="password" label="Password"
        [type]="'password'" [errorMessages]="{
            required: AppMessages.REQUIRED_FIELD,
          }">
      </app-input>
    </div>
  </div>
  <div class="card-footer bg-transparent mt-auto">
    <div class="btn-list justify-content-end">
      <a class="btn" (click)="resetForm()">
        Cancel
      </a>
      <a class="btn btn-primary" (click)="UpdateEmail()">update</a>
    </div>
  </div>
</div> -->
