<!-- <div class="col-12 col-md-9 d-flex flex-column">
  <div class="card-body">

    <div class="row g-3">
      <div class="col-md">
        <div class="form-label">Business Name</div>
        <input type="text" class="form-control" value={{getFullName()}} disabled>
      </div>
      <div class="col-md">
        <div class="form-label">Business ID</div>
        <input type="text" class="form-control" value="{{userData?.userId}}" disabled>
      </div>
    </div>

   <div *ngIf="isExamProvider()">
    <h3 class="card-title mt-4">Token</h3>
    <p class="card-subtitle">
      This token is used to link your application with our system. Provide this token to your application integration
      team to enable communication between your app and our system. Ensure that this token is kept secure and private.
    </p>
    <div class="col-md position-relative">
      <input type="text" class="form-control" [value]="examProviderData.examProviderUniqueKey" disabled id="tokenInput">
      <button class="btn btn-secondary position-absolute top-0 end-0" (click)="copyToken()">
        Copy
      </button>
    </div>

  </div>


    <h3 class="card-title mt-4">Email & phone</h3>
    <p class="card-subtitle">This contact will be shown to others publicly, so choose it carefully.</p>
    <div>
      <div class="row g-2">
        <div class="col-md">
          <input type="text" class="form-control" value="{{userData?.email}}" disabled>
        </div>
        <div class="col-md">
          <input type="text" class="form-control" value="{{userData?.phonenum}}" disabled>
        </div>
      </div>
    </div>



  </div>

</div> -->
