<!-- <div class="col-12 col-md-9 d-flex flex-column">
  <div class="card-body">
    <h2 class="mb-4">Update your Name</h2>
    <p>Please enter your new first name, last name, and your current password to update your name.</p>

    <div class="row g-3">

      <app-input placeholder="New first name"
      [formGroup]="updateNameForm" controlName="firstName" label="First Name"
            [errorMessages]="{ required: AppMessages.REQUIRED_FIELD }">
          </app-input>

          <app-input
          placeholder="New first name"
          [formGroup]="updateNameForm" controlName="lastName" label="Last Name"
            [errorMessages]="{ required: AppMessages.REQUIRED_FIELD }">
          </app-input>

      <app-input placeholder="Last password" [formGroup]="updateNameForm" controlName="password" label="Password"
        [type]="'password'" [errorMessages]="{
            required: AppMessages.REQUIRED_FIELD,
          }">
      </app-input>
    </div>
  </div>
  <div class="card-footer bg-transparent mt-auto">
    <div class="btn-list justify-content-end">
      <a class="btn" (click)="resetForm()">
        Cancel
      </a>
      <a class="btn btn-primary" (click)="UpdateName()">update</a>
    </div>
  </div>
</div> -->
