<!-- <div class="col-12 col-md-9 d-flex flex-column">
  <div class="card-body">
    <h2 class="mb-4">Update Your Password</h2>
    <p>Please enter your current password, new password, and confirm the new password to update your password.</p>

    <div class="row g-3">
      <app-input
        placeholder="Current password"
        [formGroup]="updatePasswordForm"
        controlName="lastPassword"
        label="Current Password"
        [type]="'password'"
        [errorMessages]="{ required: AppMessages.REQUIRED_FIELD }">
      </app-input>

      <app-input
        placeholder="New password"
        [formGroup]="updatePasswordForm"
        controlName="newPassword"
        label="New Password"
        [type]="'password'"
        [errorMessages]="{
          required: AppMessages.REQUIRED_FIELD,
          minlength: AppMessages.PASSWORD_LENGTH
        }">
      </app-input>

      <app-input
        placeholder="Confirm new password"
        [formGroup]="updatePasswordForm"
        controlName="confirmPassword"
        label="Confirm Password"
        [type]="'password'"
        [errorMessages]="{
          required: AppMessages.REQUIRED_FIELD,
          minlength: AppMessages.PASSWORD_LENGTH
        }">
      </app-input>

      <div *ngIf="getPasswordMismatchError()">
        <small class="text-danger">{{ getPasswordMismatchError() }}</small>
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent mt-auto">
    <div class="btn-list justify-content-end">
      <a class="btn" (click)="resetForm()">Cancel</a>
      <a class="btn btn-primary" (click)="UpdatePassword()">Update</a>
    </div>
  </div>
</div> -->
